services:
  scraper:
    build: .
    container_name: rag_pipeline
    ports:
      - "9090:8080"              # map container port 8080 -> localhost:8080
    volumes:
      - ./cache:/app/cache
      - ./config:/app/config
      - ./:/app
    env_file:
      - .env
    stdin_open: true
    tty: true
    command: uvicorn rag_pipeline.web:app --host 0.0.0.0 --port 8080