name: CI Build and Deploy

on:
  push:
    branches:
      - development

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment: production # leverage this GHA environment as temporary to deploy to dev GCP project due to VPC limitations
    env:
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1  # Disable prompting
      REPO: ${{ vars.REPO_DEV }}
      ARTIFACT_REGISTRY_KEY : ${{ secrets.ARTIFACT_REGISTRY_KEY }}
      SA: ${{ vars.CLOUD_RUN_SERVICE_ACC_NAME_DEV }}
    services:
      docker:
        image: docker:stable
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.15

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openssl libssl-dev

      - name: Set up Docker mirror
        run: |
          sudo bash -c 'if [ ! -f /etc/docker/daemon.json ]; then echo "{}" > /etc/docker/daemon.json; fi'
          tmpdaemon=$(mktemp)
          sudo jq '."registry-mirrors" += ["https://mirror.gcr.io"]' /etc/docker/daemon.json > $tmpdaemon
          sudo mv $tmpdaemon /etc/docker/daemon.json
          sudo systemctl daemon-reload
          sudo systemctl restart docker
          docker system info

      - name: Add Masks
        run: |
          echo "::add-mask::$ARTIFACT_REGISTRY_KEY"
          echo "::add-mask::$SA"


      - name: Docker login if credentials are available for artifact registry push
        run: |
          if [[ -n "$ARTIFACT_REGISTRY_KEY" ]]; then
            echo "$ARTIFACT_REGISTRY_KEY" | docker login -u _json_key --password-stdin https://us-west1-docker.pkg.dev
          else
            unset $ARTIFACT_REGISTRY_KEY
          fi

      - name: Prerequisite for gcloud auth
        uses: 'actions/checkout@v4'

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCLOUD_DEPLOY_KEY }}' # Replace with the name of your GitHub Actions secret

      - name: Authenticate to specific artifact registry locale
        run: |
          gcloud auth configure-docker

      - name: Build Docker image
        run: |
          docker buildx build --platform linux/amd64 . -t $REPO/development-image:build-${{ github.run_number }}
          docker tag $REPO/development-image:build-${{ github.run_number }} $REPO/development-image:latest

      - name: Push Docker image to registry
        run: |
          docker push $REPO/development-image:build-${{ github.run_number }}
          docker push $REPO/development-image:latest

      - name: Deploy to Cloud Run
        run: |
          set -ex
          gcloud run deploy development-pipeline \
            --image="$REPO/development-image:latest" \
            --platform=managed \
            --ingress=internal-and-cloud-load-balancing \
            --region="us-west1" \
            --min-instances=1 \
            --max-instances=3 \
            --allow-unauthenticated \
            --service-account=$SA \
            --cpu=2 \
            --memory=4Gi \
            --port=8080 \
            --set-secrets=REDCAP_API_URL=REDCAP_API_URL:latest \
            --set-secrets=REDCAP_API_TOKEN=REDCAP_API_TOKEN:latest \
            --set-secrets=STORAGE_MODE=STORAGE_MODE:latest \
            --set-secrets=GCS_BUCKET=GCS_BUCKET:latest
          set +x